<!doctype html>

<!--
Index page of the Clock of Clocks webpage!

@author The Absolute Tinkerer
@date 21 May 2021

-->

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Clock of Clocks</title>
	<link rel="stylesheet" href="static/style.css">
	<link rel="icon" type="image/png" href="static/favicon.png">
	
	<script src="static/clock_of_clocks.js"></script>
</head>

<body onload="start_canvas();">
	<canvas id="clock-canvas"></canvas>
</body>

</html>
